<router-outlet></router-outlet>

<!-- Footer -->
<footer class="navbar-dark bg-dark text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Acerca de Typesty</h5>
  
          <p>
            El editor puede proporcionar ciertas
            funcionalidades, características y herramientas que serán de utilidad al usuario. La
            función principal del editor será el ingreso del código fuente que será analizado. En
            este se podrán abrir diferentes archivos al mismo tiempo y deberá mostrar la línea
            actual.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contactanos</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" >+502-42455873</a>
            </li>
            <li>
              <a href="#!" >angel.arteaga01.aa@gmail.com</a>
            </li>
            <li>
              <a href="#!" >Ciudad de Guatemala</a>
            </li>
            <li>
              <a href="#!" >Universidad San Carlos</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Redes Sociales</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.facebook.com/AngelArteaga03" >Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/angelarteaga_/" >Instagram</a>
            </li>
            <li>
              <a href="https://twitter.com/ngeloous" >Twitter</a>
            </li>
            <li>
              <a href="https://github.com/AngelArteaga1" >GitHub</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:<br> Angel Oswaldo Arteaga García - 201901816
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  